
.example-spacer {
    flex: 1 1 auto;
}

.login_header {
    height: 3em;
    font-size: x-large;
}

.user-name {
    font-size: small;
}

.space {
    height: 2.5em;
}

.space_row {
    height: 1em;
}

.menu_button {
    width: 12em;
    height: 1.8em;
    font-size: large;
}

.menu_area {
    text-align: center
}