<div class="login_header">    
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" 
          aria-label="Example icon-button with menu icon"
          routerLink="/login">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>ToDo管理ツール</span>        
        <span class="example-spacer"></span>
        <span class="user-name">{{username}}</span>
    </mat-toolbar>
</div>

<div class="space_row"></div>

<mat-form-field class="input-field factory-input">
    <mat-label>日付</mat-label>
    <input matInput placeholder="日付" 
        autofocus #input1 class="ime-off" name="factory_input" 
        (keyup.enter)="onKeyupEnterSearch()"
        [(ngModel)]="targetDate" />
</mat-form-field>

<button type="button" name="button" (click)="clickIpcTestBtn()">
    IPC呼び出し
</button>

<button type="button" name="button" (click)="onClickPlusButton()">
  +
</button>

<button type="button" name="button" (click)="onClickClearButton()">
  クリア
</button>

<div class="table-area">
    <table mat-table [dataSource]="dataSource" 
                      class="mat-elevation-z8"
                      >
      <ng-container matColumnDef="command">
          <th mat-header-cell *matHeaderCellDef
              class="table-header" 
              [style.font-size]="tblFontsize"> 
              操作 
          </th>
          <td mat-cell *matCellDef="let element"
              class="table-cell" 
              [style.font-size]="tblFontsize"> 
              <!-- <span class="link" (click)="onClickLink(element.date)"> -->
                <button type="button" name="button" (click)="onClickPlusButton()">
                  +
                </button>
              <!-- </span>  -->
          </td>
      </ng-container>

      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef
              class="table-header" 
              [style.font-size]="tblFontsize"> 
              日付 
          </th>
          <td mat-cell *matCellDef="let element"
              class="table-cell" 
              [style.font-size]="tblFontsize"> 
              <span class="link" (click)="onClickLink(element.date)">
                {{element.date}}
              </span> 
          </td>
      </ng-container>
  
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef
            class="table-header"
            [style.font-size]="tblFontsize"> 
            カテゴリ
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.category}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="meeting">
        <th mat-header-cell *matHeaderCellDef
            class="table-header"
            [style.font-size]="tblFontsize"> 
            MTG
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.meeting}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef
            class="table-header"
            [style.font-size]="tblFontsize"> 
            ToDo項目
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.item}} 
        </td>
      </ng-container>
      
      <ng-container matColumnDef="begintime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header qright"
            [style.font-size]="tblFontsize"> 
            開始時刻 
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell qright"
            [style.font-size]="tblFontsize"> 
            {{element.begintime}} 
        </td>
      </ng-container>
    
      <ng-container matColumnDef="endtime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            終了時刻
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.endtime}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="plantime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            計画時間
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.plantime}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actualtime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            実績時間 
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.actualtime}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="diffefent">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            差異 
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.diffefent}} 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="planbegintime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            計画時刻
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.planbegintime}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="etc">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header"
            [style.font-size]="tblFontsize"> 
            備考
        </th>
        <td mat-cell *matCellDef="let element"
            class="table-cell"
            [style.font-size]="tblFontsize"> 
            {{element.etc}} 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="my-row"></tr>
    </table>
</div>
    