<!-- メニューバー -->
<mat-toolbar class="menu-toolbar">
  <div class="menu-container">
    <!-- ファイルメニュー -->
    <button mat-button [matMenuTriggerFor]="fileMenu" class="menu-button">
      ファイル
    </button>
    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item (click)="onClickCsvImportButton()">
        <mat-icon>file_upload</mat-icon>
        <span>CSVインポート</span>
      </button>
      <button mat-menu-item (click)="onClickCsvExportButton()">
        <mat-icon>file_download</mat-icon>
        <span>CSVエクスポート</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickDbSaveButton()">
        <mat-icon>save</mat-icon>
        <span>DB保存</span>
      </button>
      <button mat-menu-item (click)="onClickDbSearchButton()">
        <mat-icon>search</mat-icon>
        <span>DB検索</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickTableDeleteAndRecreateButton()">
        <mat-icon>delete_forever</mat-icon>
        <span>テーブル削除＆再作成</span>
      </button>
    </mat-menu>

    <!-- 編集メニュー -->
    <button mat-button [matMenuTriggerFor]="editMenu" class="menu-button">
      編集
    </button>
    <mat-menu #editMenu="matMenu">
      <button mat-menu-item (click)="onClickPlusButton()">
        <mat-icon>add</mat-icon>
        <span>新規追加</span>
      </button>
      <button mat-menu-item (click)="onClickDuplicateButton()">
        <mat-icon>content_copy</mat-icon>
        <span>行複製</span>
      </button>
      <button mat-menu-item (click)="onClickDuplicateDayButton()">
        <mat-icon>content_copy</mat-icon>
        <span>1日分複製</span>
      </button>
      <button mat-menu-item (click)="onClickCopyButton()">
        <mat-icon>copy</mat-icon>
        <span>コピー</span>
      </button>
      <button mat-menu-item (click)="onClickPasteButton()">
        <mat-icon>content_paste</mat-icon>
        <span>ペースト</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickMoveSelectedRowUp()" [disabled]="selectedRowIndex <= 0 || !dataSource || dataSource.length === 0">
        <mat-icon>arrow_upward</mat-icon>
        <span>行を１行上に移動</span>
      </button>
      <button mat-menu-item (click)="onClickMoveSelectedRowDown()" [disabled]="selectedRowIndex >= (dataSource?.length || 0) - 1 || !dataSource || dataSource.length === 0">
        <mat-icon>arrow_downward</mat-icon>
        <span>行を１行下に移動</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickDeleteButton(selectedRowIndex)" [disabled]="selectedRowIndex === null">
        <mat-icon>delete</mat-icon>
        <span>削除</span>
      </button>
      <button mat-menu-item (click)="onClickDeleteAllTodosButton()">
        <mat-icon>delete_sweep</mat-icon>
        <span>全ToDo削除</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onClickClearButton()">
        <mat-icon>clear</mat-icon>
        <span>クリア</span>
      </button>
    </mat-menu>

    <!-- 表示メニュー -->
    <button mat-button [matMenuTriggerFor]="viewMenu" class="menu-button">
      表示
    </button>
    <mat-menu #viewMenu="matMenu">
      <button mat-menu-item (click)="onClickArrayDisplayButton()">
        <mat-icon>list</mat-icon>
        <span>配列表示</span>
      </button>
      <button mat-menu-item (click)="navigateToCategoryManagement()">
        <mat-icon>category</mat-icon>
        <span>カテゴリー管理</span>
      </button>
    </mat-menu>

    <!-- ヘルプメニュー -->
    <button mat-button [matMenuTriggerFor]="helpMenu" class="menu-button">
      ヘルプ
    </button>
    <mat-menu #helpMenu="matMenu">
      <button mat-menu-item (click)="showAbout()">
        <mat-icon>info</mat-icon>
        <span>アプリケーションについて</span>
      </button>
      <button mat-menu-item (click)="showKeyboardShortcuts()">
        <mat-icon>keyboard</mat-icon>
        <span>キーボードショートカット</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="space_row"></div>

<div class="date-control-container">
  <mat-form-field class="input-field factory-input">
      <mat-label>日付</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="日付" 
          autofocus #input1 class="ime-off" name="factory_input" 
          (dateChange)="onDateChange($event)"
          [(ngModel)]="targetDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
  <div class="row-move-buttons">
    <button mat-icon-button 
            (click)="onClickMoveSelectedRowUp()" 
            [disabled]="selectedRowIndex <= 0 || !dataSource || dataSource.length === 0"
            matTooltip="選択行を上に移動">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button 
            (click)="onClickMoveSelectedRowDown()" 
            [disabled]="selectedRowIndex >= (dataSource?.length || 0) - 1 || !dataSource || dataSource.length === 0"
            matTooltip="選択行を下に移動">
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>

<div class="table-area">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button (click)="onClickEditButton(i)">
            <mat-icon>{{editableIndex === i ? 'done' : 'edit'}}</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="moveRow">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-icon-button (click)="onClickMoveRowUpButton(i)" [disabled]="i === 0">
            <mat-icon>arrow_upward</mat-icon>
          </button>
          <button mat-icon-button (click)="onClickMoveRowDownButton(i)" [disabled]="i === (dataSource?.length || 0) - 1">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="table-header">id</th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell"
            (click)="onCellClick($event, i, 'id')"
            (dblclick)="onCellDoubleClick($event, i, 'id')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'id'">
          <ng-container *ngIf="isCellEditable(i, 'id'); else readOnly">
            <input matInput [(ngModel)]="element.id" class="input-cell" 
                   (blur)="onCellEditComplete(element.id, i, 'id')"
                   [attr.data-row]="i"
                   [attr.data-column]="'id'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.id}}</div>
          </ng-template>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="displayOrder">
        <th mat-header-cell *matHeaderCellDef class="table-header" >順</th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-displayOrder"
            (click)="onCellClick($event, i, 'displayOrder')"
            (dblclick)="onCellDoubleClick($event, i, 'displayOrder')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'displayOrder'">
          <ng-container *ngIf="isCellEditable(i, 'displayOrder'); else readOnly">
            <input matInput [(ngModel)]="element.displayOrder" class="input-cell"
                   (blur)="onCellEditComplete(element.displayOrder, i, 'displayOrder')"
                   [attr.data-row]="i"
                   [attr.data-column]="'displayOrder'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.displayOrder}}</div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="date" class="mat-column-date">
        <th mat-header-cell *matHeaderCellDef class="table-header">日付</th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell"
            (click)="onCellClick($event, i, 'date')"
            (dblclick)="onCellDoubleClick($event, i, 'date')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'date'">
          <ng-container *ngIf="isCellEditable(i, 'date'); else readOnly">
            <input matInput [(ngModel)]="element.date" class="input-cell"
                   (blur)="onCellEditComplete(element.date, i, 'date')"
                   [attr.data-row]="i"
                   [attr.data-column]="'date'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">
              {{element.date | date:'yyyy/MM/dd'}} ({{element.date | japaneseWeekday}})
            </div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="category" class="mat-column-category">
        <th mat-header-cell *matHeaderCellDef>カテゴリ</th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell"
            (click)="onCellClick($event, i, 'category')"
            (dblclick)="onCellDoubleClick($event, i, 'category')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'category'">
          <ng-container *ngIf="isCellEditable(i, 'category'); else readOnlyCategory">
            <mat-select [(ngModel)]="element.category" (selectionChange)="onCellEditComplete(element.category, i, 'category')"
                        [attr.data-row]="i"
                        [attr.data-column]="'category'"
                        class="category-select">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </ng-container>
          <ng-template #readOnlyCategory>
            <div class="cell-content">{{getCategoryName(element.category)}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="meeting" class="mat-column-meeting">
        <th mat-header-cell *matHeaderCellDef
            class="table-header">
            MTG
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-mtg"
            (click)="onCellClick($event, i, 'meeting')"
            (dblclick)="onCellDoubleClick($event, i, 'meeting')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'meeting'">
          <ng-container *ngIf="isCellEditable(i, 'meeting'); else readOnly">
            <input matInput [(ngModel)]="element.meeting" class="input-cell"
                   (blur)="onCellEditComplete(element.meeting, i, 'meeting')"
                   [attr.data-row]="i"
                   [attr.data-column]="'meeting'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.meeting}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="item" class="mat-column-item">
        <th mat-header-cell *matHeaderCellDef class="table-header">ToDo項目</th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell"
            (click)="onCellClick($event, i, 'item')"
            (dblclick)="onCellDoubleClick($event, i, 'item')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'item'">
          <ng-container *ngIf="isCellEditable(i, 'item'); else readOnly">
            <input matInput [(ngModel)]="element.item" class="input-cell"
                   (blur)="onCellEditComplete(element.item, i, 'item')"
                   [attr.data-row]="i"
                   [attr.data-column]="'item'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.item}}</div>
          </ng-template>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="begintime" class="mat-column-begintime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header qright">
            開始時刻 
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell qright mat-column-begintime"
            (click)="onCellClick($event, i, 'begintime')"
            (dblclick)="onCellDoubleClick($event, i, 'begintime')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'begintime'">
          <ng-container *ngIf="isCellEditable(i, 'begintime'); else readOnly">
            <input matInput [(ngModel)]="element.begintime" class="input-cell"
                   (blur)="onCellEditComplete(element.begintime, i, 'begintime')"
                   [attr.data-row]="i"
                   [attr.data-column]="'begintime'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.begintime}}</div>
          </ng-template>
        </td>
      </ng-container>
    
      <ng-container matColumnDef="endtime" class="mat-column-endtime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header">
            終了時刻
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-endtime"
            (click)="onCellClick($event, i, 'endtime')"
            (dblclick)="onCellDoubleClick($event, i, 'endtime')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'endtime'">
          <ng-container *ngIf="isCellEditable(i, 'endtime'); else readOnly">
            <input matInput [(ngModel)]="element.endtime" class="input-cell"
                   (blur)="onCellEditComplete(element.endtime, i, 'endtime')"
                   [attr.data-row]="i"
                   [attr.data-column]="'endtime'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.endtime}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="plantime" class="mat-column-plantime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header">
            計画時間
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-plantime"
            (click)="onCellClick($event, i, 'plantime')"
            (dblclick)="onCellDoubleClick($event, i, 'plantime')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'plantime'">
          <ng-container *ngIf="isCellEditable(i, 'plantime'); else readOnly">
            <input matInput [(ngModel)]="element.plantime" class="input-cell"
                   (blur)="onCellEditComplete(element.plantime, i, 'plantime')"
                   [attr.data-row]="i"
                   [attr.data-column]="'plantime'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.plantime}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actualtime" class="mat-column-actualtime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header">
            実績時間 
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-actualtime"
            (click)="onCellClick($event, i, 'actualtime')"
            (dblclick)="onCellDoubleClick($event, i, 'actualtime')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'actualtime'">
          <ng-container *ngIf="isCellEditable(i, 'actualtime'); else readOnly">
            <input matInput [(ngModel)]="element.actualtime" class="input-cell"
                   (blur)="onCellEditComplete(element.actualtime, i, 'actualtime')"
                   [attr.data-row]="i"
                   [attr.data-column]="'actualtime'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.actualtime}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="diffefent" class="mat-column-diffefent">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header">
            差異 
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-diffefent"
            (click)="onCellClick($event, i, 'diffefent')"
            (dblclick)="onCellDoubleClick($event, i, 'diffefent')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'diffefent'">
          <ng-container *ngIf="isCellEditable(i, 'diffefent'); else readOnly">
            <input matInput [(ngModel)]="element.diffefent" class="input-cell"
                   (blur)="onCellEditComplete(element.diffefent, i, 'diffefent')"
                   [attr.data-row]="i"
                   [attr.data-column]="'diffefent'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.diffefent}}</div>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="planbegintime" class="mat-column-planbegintime">
        <th mat-header-cell *matHeaderCellDef 
            class="table-header">
            計画時刻
        </th>
        <td mat-cell *matCellDef="let element; let i = index"
            class="table-cell mat-column-planbegintime"
            (click)="onCellClick($event, i, 'planbegintime')"
            (dblclick)="onCellDoubleClick($event, i, 'planbegintime')"
            [class.selected-cell]="selectedCell.rowIndex === i && selectedCell.columnName === 'planbegintime'">
          <ng-container *ngIf="isCellEditable(i, 'planbegintime'); else readOnly">
            <input matInput [(ngModel)]="element.planbegintime" class="input-cell"
                   (blur)="onCellEditComplete(element.planbegintime, i, 'planbegintime')"
                   [attr.data-row]="i"
                   [attr.data-column]="'planbegintime'" />
          </ng-container>
          <ng-template #readOnly>
            <div class="cell-content">{{element.planbegintime}}</div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="etc" class="mat-column-etc">
        <th mat-header-cell *matHeaderCellDef>備考</th>
        <td mat-cell *matCellDef="let element; let i = index" 
            (click)="onCellClick($event, i, 'etc')"
            (dblclick)="onCellDoubleClick($event, i, 'etc')">
          <ng-container *ngIf="!isCellEditable(i, 'etc')">
            {{element.etc}}
          </ng-container>
          <ng-container *ngIf="isCellEditable(i, 'etc')">
            <input matInput [(ngModel)]="element.etc" 
                   (blur)="onCellEditComplete(element.etc, i, 'etc')"
                   (keydown.enter)="onCellEditComplete(element.etc, i, 'etc')"
                   (keydown.escape)="cancelEditing()"
                   [attr.data-row]="i"
                   [attr.data-column]="'etc'">
          </ng-container>
        </td>
      </ng-container>

      <!-- 削除ボタン -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index" class="delete-cell">
          <button mat-icon-button color="warn" (click)="onClickDeleteButton(i)" matTooltip="削除">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
          [class.selected-row]="i === selectedRowIndex"
          (click)="onRowClick($event, i)">
      </tr>
    </table>
</div>